* {
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}

/* Include this in your CSS file to style the centered footer */

footer {
    background-color: rgba(53, 12, 12, 1);
    color: #fff;
    padding: 20px 0;
}

.copyright {
    margin-top: 20px;
    text-align: center;
}

