/* Style the navigation bar */
.navbar1 {
    overflow: hidden;
    background-color: rgba(53, 12, 12, 1); /* Basketball team color */
  }

  .navbar2 {
    overflow: hidden;
    background-color: rgba(217, 217, 217, 1); /* Basketball team color */
  }

  .navbar2 p{
    float:left;
  }

  form {
    float:right;
    padding-top: 15px;
  }

  .navbar3 {
    overflow: hidden;
    background-color: rgba(140, 118, 118, 1); /* Basketball team color */
  }
  
  /* Style the navigation bar links */
  .navbar1 a {
    float: right;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  /* Change the color of the links when hovered over */
  .navbar1 a:hover {
    background-color: #0056b3; /* Slightly darker shade */
    color: white;
  }

  .navbar3 a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 10px 24px;
    text-decoration: none;
  }
  
  /* Change the color of the links when hovered over */
  .navbar3 a:hover {
    background-color: #0056b3; /* Slightly darker shade */
    color: white;
  }

.newsframe {
  width: 60%; /* Adjust the width as needed */
  margin: 0 auto;
}
.newsframe iframe {
  width: 100%;
  height: 100vh;
  align-items: center;
  justify-content: center;
}
  
  @media (max-width: 500px) {
    .navbar1 a {
      float: none;
      width: 100%; /* Make the links stack vertically */
    }
  }

  @media (max-width: 500px) {
    .navbar2 a {
      float: none;
      width: 100%; /* Make the links stack vertically */
    }
  }

  @media (max-width: 500px) {
    .navbar3 a {
      float: none;
      width: 100%; /* Make the links stack vertically */
    }
  }
